<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="ciber.gsb.hackathon.gsbhackathon.ciber-hackathon.studentportal">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="StudentPortal">
	</application>
</manifest>
